<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medicos</title>
        <link rel="stylesheet" href="home-laboratorios.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    </head>
    <body>
        <section>
        <header style="z-index: 4;">
            <div class="contenedorGrande">
                <div class="contenedor">
                    <div *ngIf="NoExamenes" class="nav-link" (click)="abrirMenuReportes()" id="menuReportes">
                        <img src="https://cdn-icons-png.flaticon.com/512/4701/4701237.png" width="60" height="60">
                        <label>Reportes</label>
                    </div>
                    <a (click)="abrirFormularioExamen()" class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/8890/8890577.png" width="60" height="60">
                        <label>Menu Asignar Examen</label>
                    </a>
                </div>
                <div (click)="abrirExamen()" *ngIf="NoExamenes" class="contenedor">
                    <a id="logo">Laboratorios</a>
                </div>
                <div class="contenedor">
                    <a *ngIf="NoExamenes" (click)="abrirFormularioSolicitud()" class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/2000/2000842.png" width="60" height="60">
                        <label>Menu Solicitudes</label>
                    </a>
                    <a class="nav-link" href="../Login.jsp?cerrar=true">
                        <img src="https://cdn-icons-png.flaticon.com/512/2574/2574200.png" width="60" height="60">
                        <label>Cerrar Sesión</label>
                    </a>
                </div>
            </div>
        </header>
    </section>
        <section id="sectionLibro">
            <div class="contenedorPrincipal">
                <div class="Examen" *ngIf="EnvioEspecialidad">
                    <h1>Deseas que se agregué un nuevo tipo de exámen? llena el formulario!</h1>
                    <label>Nombre Examen:</label>
                    <input type="text" [(ngModel)]="NombreEspe">
                    <label>Descripción del examen:</label>
                    <textarea type="text" [(ngModel)]="Descripcion"></textarea>
                    <button type="button" (click)="EnviarSoliExamen()">Mandar Solicitud</button>
                </div>
                <app-menu-solicitudes *ngIf="MostrarSolicitud"></app-menu-solicitudes>
                <app-menu-examenes *ngIf="MostrarExamen"></app-menu-examenes>
                <app-menu-reportes *ngIf="MostrarReportes"></app-menu-reportes>
            </div>
        </section>
    </body>
</html>


