<div class="contenedor">
    <div class="search-container">
        <i class="material-icons search-icon">search</i>
        <input class="search-input" type="text" placeholder="Buscar..." [(ngModel)]="busqueda" (input)="onInput($event)" (ngModelChange)="comprobadorDeInfo()">
      </div>
    <table>
        <thead>
            <tr>
              <th>Nombre de laboratorio:</th>
              <th>Teléfono:</th>
              <th>Correo</th>
              <th></th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let dato of TablaGrafica">
            <td> {{ dato.Nombre }}</td>
            <td> {{ dato.Telefono }}</td>
            <td>{{ dato.Correo }}</td>
            <td><button (click)="modal.Mostrar(dato)">Crear Solicitud de examenes</button></td>
          </tr>
        </tbody>
      </table>
</div>
<app-modal-agregar-examenes-solicitud-pacientes #modal (cerrado)="ngOnInit()"></app-modal-agregar-examenes-solicitud-pacientes>
