<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medicos</title>
        <link rel="stylesheet" href="home-paciente.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    </head>
    <body>
        <section>
        <header style="z-index: 4;">
            <div class="contenedorGrande">
                <div class="contenedor">
                    <div class="nav-link" (click)="abrirMenuReportes()" id="menuReportes">
                        <img src="https://cdn-icons-png.flaticon.com/512/4701/4701237.png" width="60" height="60">
                        <label>Reportes</label>
                    </div>
                    <a (click)="abrirMenuConsultaNueva()"  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/1469/1469975.png" width="60" height="60">
                        <label>Solicitar una consulta</label>
                    </a>
                    <a (click)="abrirMenuConsultaPendiente()"  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/5897/5897458.png" width="60" height="60">
                        <label>Ver Consultas pendientes</label>
                    </a>
                </div>
                <div class="contenedor">
                    <a (click)="abrirRecarga()" id="logo">Pacientes</a>
                </div>
                <div class="contenedor">
                    <a  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/1934/1934474.png" width="60" height="60">
                        <label>Solicitar Examenes nuevos</label>
                    </a>
                    <a  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/2464/2464568.png" width="60" height="60">
                        <label>Ver Examenes pendientes</label>
                    </a>
                    <a class="nav-link" href="../Login.jsp?cerrar=true">
                        <img src="https://cdn-icons-png.flaticon.com/512/2574/2574200.png" width="60" height="60">
                        <label>Cerrar Sesión</label>
                    </a>
                </div>
            </div>
        </header>
    </section>
        <section id="sectionLibro">
            <div class="contenedorPrincipal">
                <div *ngIf="MostrarRecarga" class="divRecarga">
                    <label>Ingresa la cantidad que deseas recargar a tu cuenta:</label>
                    <input type="number" [(ngModel)]="Recarga" min="1" max="10000">
                    <button type="button" (click)="Recargar()">Recargar</button>
                </div>
                <app-menu-solicitar-consulta *ngIf="ConsultaNueva"></app-menu-solicitar-consulta>
                <app-menu-consultas-pendientes *ngIf="ConsultaPendiente"></app-menu-consultas-pendientes>
            </div>
        </section>
    </body>
</html>
