<div>
    <div id="divArriba">
      <button type="button" (click)="MostrarSaldo()">Saldo del medico</button>
      <button type="button" (click)="activarPacientes()">Top pacientes</button>
      <button type="button" (click)="activarEspecialidad()">Top Especialidades</button>
    </div>
    <div class="divFecha">
        <div class="divInterno">
            <label for="fecha">Fecha Inicial:</label>
            <input type="date" id="fecha" [(ngModel)]="fechaInicial">
        </div>
        <div class="divInterno">
            <label for="fecha">Fecha final:</label>
            <input type="date" id="fecha" [(ngModel)]="fechaFinal">
        </div>
    </div>
   
    <div class="divCuerpo">
        <ng-container *ngIf="mostrarSaldo">
            <div class="divSaldo">
                <h2>Saldo actual del medico:</h2>
                <label>Q {{saldoMedico}}</label>
            </div>
        </ng-container>
        <!-- tabla de top 5 pacientes -->
        <ng-container *ngIf="mostrar">
            <table>
                <thead>
                  <tr>
                    <th *ngIf="mostrarPacientes">Nombre Del Paciente</th>
                    <th *ngIf="mostrarEspecialidades">Nombre De Especialidad</th>
                    <th>cantidad de consultas</th>
                    <th>Total de ingreso al medico</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let dato of InfoPacientes; let i = index;">
                    <ng-container *ngIf="i % 3 === 0">
                      <tr>
                        <ng-container *ngFor="let columna of [0, 1, 2]; let j = index;">
                          <td>{{ InfoPacientes[i+j] }}</td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
        </ng-container>

    </div>  
  </div>
  
