<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administración</title>
        <link rel="stylesheet" href="home-admin.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    </head>
    <body>
        <section>
        <header style="z-index: 4;">
            <div class="contenedorGrande">
                <div class="contenedor">
                    <div (click)="mostrarReportes()" class="nav-link" id="menuReportes">
                        <img src="https://cdn-icons-png.flaticon.com/512/4701/4701237.png" width="60" height="60">
                        <label>Reportes</label>
                    </div>
                    <a (click)="mostrarEspe()"  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/3437/3437466.png" width="60" height="60">
                        <label>Menu Solicitudes Especialidades</label>
                    </a>
                    <a (click)="mostrarExamenes()"  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/1127/1127688.png" width="60" height="60">
                        <label>Menu Solicitudes Examenes</label>
                    </a>
                </div>
                <div (click)="mostrarcarga()" class="contenedor">
                    <a id="logo">Administración</a>
                </div>
                <div class="contenedor">
                    <a (click)="mostrarPorcentaje()"  class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/7376/7376530.png" width="60" height="60">
                        <label>Porcentajes de cobro</label>
                    </a>
                    <a class="nav-link" href="../Login.jsp?cerrar=true">
                        <img src="https://cdn-icons-png.flaticon.com/512/2574/2574200.png" width="60" height="60">
                        <label>Cerrar Sesión</label>
                    </a>
                </div>
            </div>
        </header>
    </section>
        <section id="sectionLibro">
            <div class="contenedorPrincipal">
                <div class="divCarga" *ngIf="MostrarCargaDeDatos">
                    <h1>Desea cargar un archivo? subalo aqui:</h1>
                    <input type="file" name="file" (change)="onFileSelected($event)">
                    <button (click)="onUpload()">Subir archivo</button>
                </div>
                <app-menu-reportes-admin *ngIf="MostrarReportes"></app-menu-reportes-admin>
                <app-menu-solicitar-examenes-admin *ngIf="MostrarExamenes"></app-menu-solicitar-examenes-admin>
                <app-menu-especialidades-admin *ngIf="MostrarEspecialidades"></app-menu-especialidades-admin>
                <app-menu-porcentajes-admin *ngIf="MostrarPorcentaje"></app-menu-porcentajes-admin>
            </div>
        </section>
    </body>
</html>

